cycler==0.10.0
kiwisolver==1.1.0
matplotlib==3.0.3
numpy==1.17.4
opencv-python==4.1.2.30 | pip install opencv-python
Pillow==6.2.2 | conda install -c anaconda pillow
pyparsing==2.4.6
python-dateutil==2.8.1
six==1.14.0
torch==1.7.0
torchvision==0.2.1 | conda install pytorch==1.7.1 torchvision==0.2.1 torchaudio==0.7.2 cudatoolkit=11.0 -c pytorch
dlib==19.19.0 | conda install -c conda-forge dlib
scikit-learn==0.22.2.post1 | pip install scikit-learn==0.22.2.post1
pandas==1.0.3
scikit-image==0.16.2


image: python main_esr9.py image -i ./test.jpg -d -s 2 -c
video: python main_esr9.py video -i ./media/big_bang.mp4 -d -f 15 -s 2 -fd 3 -c
webcam: python main_esr9.py webcam -d -s 2 -b -fd 3 -w 0 -c